<html>
    <head>
        <title>Anna's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Anna's Blog @ Django Girls Workshop 2016</a></h1>
        </div>

        <div>
            <p>published:13.3.2016, 15:12</p>
            <h2><a href="">My first blog post</a></h2>
            <p>Ahoj!</p>
            <p>Funguje to!</p>
        </div>  

        <div>
            <p>published:13.3.2016, 15:15</p>
            <h2><a href="">My secong blog post</a></h2>
            <p>Ako sa mas?</p>
        </div>  
    </body>
</html>