<html>
    <head>
        <title>Anna's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Anna's Blog @ Django Girls Workshop 2016</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date}}</p>
                <h2><a href="">{{ post.title}}</a></h2>
                <p>{{ post.text|linebreaks}}</p>
            </div>
        {% endfor %}
        <div>
            {{ posts }}
        </div>
    </body>
</html>